.header{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 15px;

    .container-top{
        width: 100%;
        max-width: 1288px;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
    }

    .logo{
        display: inline-flex;
    }
    .navbar-top{
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    .menu-top{
        display: inline-flex;
        list-style: none;
        gap: 20px;
        margin-right: 1rem;
        
        li{
            a{
                background: #000;
                color: #fff;
                padding: 10px 20px;
                border-radius: 50px;
                border: 1px solid #222;
            }
        }

        &.dark{

            li{
                a{
                    background: #fff;
                    color: #222;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .navbar-top{
            position: relative;

            &.opened{
                min-width: 30px;

                &::before{
                    content: "\02716";
                }

                &.dark{
                    &::before{
                        color: #fff;
                    }
                }

                .menu-top{
                    display: flex;
                    position: absolute;
                    width: 300px;
                    right: 0px;
                    top: 56px;
                    margin-right: 0px;
                }
            }
            
            &::before{
                content: "\02630";
                font-size: 33px;
                line-height: 30px;
                color: #000;
            }

            .menu-top{
                flex-flow: column;
                gap: 32px;
                align-items: flex-end;
                display: none;
            }
        }
    }

}